<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="telaLogin">
        <input type="text" placeholder="login" v-model="login">
        <input type="text" placeholder="senha" v-model="senha">
        <button @click="entrar">Entrar</button>
        <span>{{ logado }}</span>

    </div>

    <script>
        let telaLogin = new Vue({
            el: "#telaLogin",
            data:{
                login:'',
                senha:  '',
                logado: ''
            },
            methods:{
                entrar: function(){
                if(this.login == "senai" && this.senha == "123"){
                    this.logado = 'Logado com sucesso';
                    window.location.assign('calculadora.html');
                }
                else{
                    this.logado = 'Login inválido';
                }
                },
            }
            })

    </script>
</body>
</html>